<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {pageName: "ULAgenda"}); %>
    <link rel="stylesheet" href="/css/agendas/agendas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>

<header>
    <%- include('./partials/header', {user: true}); %>
</header>

<div class="container">
    <!-- Sidebar Gauche -->
     <!--
    <div class="left-sidebar">
        <h2>Filtres</h2>
        <a href="/search" class="search-link">
            <i class="fa-solid fa-magnifying-glass"></i>
            Rechercher des rendez-vous
        </a>
    </div>
    -->

    <div class="agendasOptions">
        <a href="/search" class="search-link">
            <i class="fa-solid fa-magnifying-glass"></i>
            Rechercher des rendez-vous
        </a>
    </div>

    <!-- Contenu principal : les autres agendas -->
    <div class="main-content">
        <!-- Pop-up pour ajouter un nouvel agenda -->
        <div id="agendaModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Créer un nouvel agenda</h2>
                <input type="text" id="agendaName" placeholder="Nom de l'agenda" required>
                <button id="addAgendaButton">Ajouter Agenda</button>
            </div>
        </div>

        <div id="confirmDeleteModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeConfirmDeleteModal()">&times;</span>
                <h2>Confirmer la suppression</h2>
                <p>Voulez-vous vraiment supprimer cet agenda ?</p>
                <button id="confirmDeleteButton">Supprimer</button>
                <button id="annuler" onclick="closeConfirmDeleteModal()">Annuler</button>
            </div>
        </div>

        <div class="calendar newAgenda">

            <div class="addCalendarBody"> 
                <button class="add-button" style="height:75px; width:75px;">+</button>
            </div>

        </div>

        <!-- Les agendas seront stockés ici -->
        
    </div>
</div>

<footer>
    <%- include('./partials/footer', {user: {}}); %>
</footer>

<script src="/javascripts/agendas/agendas.js"></script>

</body>
</html>
