<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('./partials/head', {pageName: "ULAgenda"}); %>
    <link rel="stylesheet" href="/css/agendas/agendas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <%- include('./partials/header', {user: true}); %>
    </header>

    <!-- Contenu principal -->
    <main class="main-wrapper">

        <!--<div class="agendasOptions">
            <a href="/search" class="search-link">
                <i class="fa-solid fa-magnifying-glass"></i>
                Rechercher des rendez-vous
            </a>
        </div>-->

        <div class="agenda-sections">
            <!-- Section des agendas personnels -->
            <div class="agenda-section">
                <div class="section-header">
                    <h2>
                        <i class="fas fa-user"></i>
                        Mes Agendas
                        <span class="count-badge personal-count">0</span>
                    </h2>
                    <a href="/search" class="search-link">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Rechercher des rendez-vous
                    </a>
                </div>

                <div class="calendars-grid personal">
                    <div class="calendar newAgenda">
                        <div class="addCalendarBody"> 
                            <button class="add-button" style="height:75px; width:75px;">+</button>
                        </div>
                    </div>

                    <!-- Les agendas personnels seront injectés ici -->
                </div>

            </div>
        
            <!-- Section des agendas partagés -->
            <div class="agenda-section">
                <div class="section-header">
                    <h2>
                        <i class="fas fa-share-alt"></i>
                        Agendas Partagés
                        <span class="count-badge shared-count">0</span>
                    </h2>
                    
                </div>
                <div class="calendars-grid shared">
                    <!-- Les agendas partagés seront injectés ici -->
                </div>
            </div>
        </div>

    </main>

    <div id="popup-container">

        <!-- Pop-up pour ajouter un nouvel agenda -->
        <div id="createNewAgendaModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal(this.parentNode.parentNode)">&times;</span>
                <h2>Créer un nouvel agenda</h2>
                <input type="text" id="agendaName" placeholder="Nom de l'agenda" required>
                <button id="addAgendaButton" class="modal-action-button">Ajouter Agenda</button>
            </div>
        </div>

        <!-- Pop-up de confirmation de suppression -->
        <div id="confirmDeleteModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal(this.parentNode.parentNode)">&times;</span>
                <h2>Confirmer la suppression</h2>
                <p>Voulez-vous vraiment supprimer cet agenda ?</p>
                <button id="confirmDeleteButton" class="modal-action-button">Supprimer</button>
                <button id="annuler" class="modal-action-button" onclick="closeModal(this.parentNode.parentNode)">Annuler</button>
            </div>
        </div>

        <!-- Pop-up pour renommer un agenda -->
        <div id="confirmRenameModal" class="modal">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal(this.parentNode.parentNode)">&times;</span>
                <h2>Nouveau titre</h2>
                <input type="text" id="inputAgendaName" name="name" required minlength="4" maxlength="16" size="10" />
                <button id="confirmRenameButton" class="modal-action-button">Renommer</button>
                <button id="annuler" class="modal-action-button" onclick="closeModal(this)">Annuler</button>
            </div>
        </div>

    </div>

    <footer class="footer">
        <%- include('./partials/footer', {user: {}}); %>
    </footer>

    <!-- Template pour les messages d'erreur/succès -->
    <div class="toast-container" style="display: none;">
        <div class="toast">
            <div class="toast-content"></div>
            <button class="toast-close">&times;</button>
        </div>
    </div>

    <script src="/javascripts/agendas/agendas.js"></script>
</body>
</html>
