<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login/forgottenPassword.css">
</head>
<body>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Mot de passe oublié ?</div>
           
          </div>
          <div class="right">
            
            <form class="form UserForm" method="post" action="/forgotten-password">
              <label for="email">Votre adresse mail</label>
              <input type="text" id="email" name="email" placeholder="e-mail">
              <input type="submit" id="submit" value="Submit">
            </form>
            <% if ( expressFlash) { %>
                <p class="error"> <%= expressFlash %> </p>
                <%}%>
          </div>
        </div>
      </div>
      
</body>
</html>