<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinitialisation mot de passe</title>
    <link rel="stylesheet" href="/css/login/forgottenPassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Mot de passe oublié ?</div>
           
          </div>
          <div class="right">
            <form class="form UserForm" method="post" action="/reset-password?token=<%= token %>">
              <label for="password">Nouveau mot de passe</label>
              <div style="position: relative;">
                <input type="password" id="password" name="password" placeholder="nouveau mot de passe">
                <i id="eye" class="fa-solid fa-eye"></i>
              </div>
              <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
              <div>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmation">
                <i id="eye" class="fa-solid fa-eye"></i>
              </div>
              <input type="submit" id="submit" value="Submit">
            </form>
            <% if ( expressFlash) { %>
                <p class="error"> <%= expressFlash %> </p>
                <%}%>
          </div>
        </div>
      </div>
      <script src="/javascripts/login/passwordChange.js"></script>
</body>
</html>