<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login/forgottenPassword.css">
</head>
<body>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Mot de passe oublié ?</div>
           
          </div>
          <div class="right">
            <form class="form UserForm" method="post" action="/reset-password?token=<%= token %>">
              <label for="password">Nouveau mot de passe</label>
              <input type="password" id="email" name="password" placeholder="nouveau mot de passe">
              <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
              <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmation">
              <input type="submit" id="submit" value="Submit">
            </form>
            <% if ( expressFlash) { %>
                <p class="error"> <%= expressFlash %> </p>
                <%}%>
          </div>
        </div>
      </div>
      
</body>
</html>