<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <link rel="stylesheet" href="css/planning/style.css">
  <%- include('./partials/head', {pageName: "planning" }); %>

    <!-- fullcalendar bundle -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <!-- rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>
    <!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.15/index.global.min.js'></script>
    <script src="/javascripts/planning/planning.js"></script>
</head>

<body>
  <header>
    <%- include('./partials/header', {user: user}); %>
  </header>
  
  <div style="display: flex; flex-direction: column; height: 100%;">
    <div class="container">
      <div class="sideBar sideBar-open">

        <p style="
          font-size: 20px;
          color: #00BBEC;
          text-align: center;
          margin-bottom: 20px;
          border-bottom: 2px solid #00BBEC;
          white-space:nowrap;
          padding-bottom: 10px;">Agenda</p>
        <div id="selectButtons">
          <button class="selectAll">Tout selectionner</button>
          <button class="unSelectAll">Tout deselectionner</button>
        </div>
        <ul class="listAgenda">
          <% agendas.forEach(function(agenda) { %>
            <li>
              <div class="agendaDiv">
                <label for="checkbox" style="font-size:1em;margin: auto 0;">
                  <%= agenda.name %>
              </label>
              <input class="checkAgenda" data-id="<%= agenda._id %>" type="checkbox" name="checkbox" style="width: 30px;">
            </div>
                        </li>
        <% }); %>
        </ul>
        
      </div>
      <div>
        <input type="checkbox" checked role="button" aria-label="Display the menu" class="menu">
      </div>
      <div id='calendar'>
        <input type="date" id="dateSelector">
      </div>
    </div>
    
  </div>

</body>

</html>