<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">Un email de confirmation à été envoyé</div>
        <a href="/">Page d'accueil</a>
    </div>
</body>
</html>