@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    font-family: "Afacad Flux", sans-serif;
    font-weight:600;
}

.section1 .app-button {
    max-width:150px;

}

.section1 {
    height:500px;
    display: flex;
    gap:15%;
    align-items: center;
    padding: 100px;
    background-color: #111828;
    color: #00BBEC;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    max-width: 600px;
}

.content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
}

.section-image {

    mask-image: linear-gradient(to right, transparent, rgba(17, 24, 40, 0.808) 10%, rgba(17, 24, 40, 0.808) 90%, transparent); 
    height: 140%;
    width:46%;
    display: flex;
    overflow: hidden;


}

.section-image img {
    max-height:100%;
    animation: fadeOutLeft 10s infinite;
}


.section-key-point {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    justify-content: space-between;
    align-items: center;
    padding: 200px 120px;
    background-color: #1e273d;
    color: #00BBEC;

}

.features {

    display: flex;
    flex-direction: column;
    max-width: 46%;
    /* gap: 1em; */
    justify-content: space-between;
}

.features img {
    width: 15%;
    height: auto;
}

.features h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.features p {
    font-size: 1.2rem;
    font-weight:lighter;
    text-align: justify;
    text-wrap: wrap;
}




@keyframes fadeOutLeft {
    0% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
    transform: translateX(-200%);
    }

}
