@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    font-family: "Afacad Flux", sans-serif;
    font-weight:600;
}
header {
    position:fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #212a3f;
    z-index:1000;
}

.logo {
    background-color: transparent;
    color: #cfbff7;
    margin: 0 100px;
    font-size: 1.5rem;
}

header nav {
    width:14%;
    display:flex;
    justify-content: space-around;
}

nav a {
    color:#cfbff7;

}

.connect-button {
    padding: 10px 15px;
    font-size: 1rem; 
    font-weight:bold;
    text-align: center;
}

.user-button {

    background:#cfbff7;

    width:17%;
    padding-bottom: 17%;

    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    border-radius: 50%;
}


.app-button {

    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem; 
    color: white;
    margin: 0 20px;
    background-color: #259e88;
    font-weight:bold;
    text-align: center;
}

.section1 .app-button {
    max-width:150px;

}

.section1 {
    margin-top:70px;

    height:500px;
    display: flex;
    gap:15%;
    align-items: center;
    padding: 100px;
    background-color: #111828;
    color: #00BBEC;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    max-width: 600px;
}

.content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
}

.section-image {
    
    mask-image: linear-gradient(to right, transparent, rgba(17, 24, 40, 0.808) 20%, rgba(17, 24, 40, 0.808) 80%, transparent); ;

    height: 140%;

    width:46%;
    display: flex;
    overflow: hidden;

    
}

.section-image img {
    max-height:100%;
    animation: fadeOutLeft 10s infinite;
}


.section-key-point {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    justify-content: space-between;
    align-items: center;
    padding: 200px 120px;
    background-color: #1e273d;
    color: #00BBEC;
    
}

.features {

    display: flex;
    flex-direction: column;
    max-width: 46%;
    /* gap: 1em; */
    justify-content: space-between;
}

.features img {
    width: 15%;
    height: auto;
}

.features h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.features p {
    font-size: 1.2rem;
    font-weight:lighter;
    text-align: justify;
    text-wrap: wrap;
}


/* Footer */
.footer {
    background-color: #111828;
    padding: 40px 20px;
    text-align: center;
    color: #cfbff7;
}


.footer-nav {
    margin-top: 15px;
    display:flex;
    justify-content: space-evenly;
}

.footer-nav a {

    color: #cfbff7;

    background:#3f78a5;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;

    padding: 10px 15px;
    border-radius: 5px;

    font-size: 1rem; 
}

.footer-nav a:hover {
    color: #cfbff7;
}


@keyframes fadeOutLeft {
    0% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
    transform: translateX(-200%);
    }

}