<div class="footer">
    <p>© 2024 UL-AGENDA. All rights reserved.</p>
    <nav class="footer-nav">
        <a href="">Terms of Service</a>
        <a href="">Privacy Policy</a>
        <a href="">Help</a>
    </nav>
</div>