<nav>
    <div>
        <a href="/" class="logo">UL AGENDA</a>
    </div>

    <div class="right">
        <div class="disconnect">
            <% if (user) { %>
                <div class="user-container">
                    <a class="user-button" href="/account" ></a>
                    <a class="hidden" href="/presets">Préréglages</a>
                    <a class="hidden" href="/logout">Se déconnecter</a>
                </div>
            <% } else { %>
                <a href="/signin" class="connect-button">Connection</a>
            <% } %>
        </div>
        <a href="/planning" class="app-button">Planning</a>
        <a href="/agendas" class="app-button">Mes Agendas</a>
    </div>
</nav>
